.demo-select {
  padding: 5px 10px;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 120px !important;
  display: inline-block;
  margin-top: 10px; }

.theme-options {
  width: 180px;
  position: fixed;
  right: -180px;
  top: 10%;
  background-color: #fff;
  z-index: 1000;
  border: 1px solid #d5d5d5;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .theme-options.active {
    right: 0; }
  .theme-options .toggle-btn {
    position: absolute;
    top: -1px;
    left: -40px;
    height: 40px;
    width: 40px;
    line-height: 38px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-right: none;
    cursor: pointer; }
    .theme-options .toggle-btn span {
      font-size: 26px;
      -webkit-animation-name: settings;
      animation-name: settings;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      color: #777; }

@-webkit-keyframes settings {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@keyframes settings {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

.theme-options .theme-menu {
  text-align: center;
  padding: 20px 10px; }
  .theme-options .theme-menu h4 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #222; }

.theme-options .theme-color ul {
  margin-top: 10px; }
  .theme-options .theme-color ul li {
    display: inline-block; }
    .theme-options .theme-color ul li a {
      width: 40px;
      height: 40px;
      display: inline-block; }

* {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif; }

body.demo-main {
  font-family: "Roboto", serif;
  background-color: #303133; }

img {
  width: 100%;
  height: auto; }

header.demo-banner {
  margin: 100px 0; }
  header.demo-banner .heading h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #EBEBEC;
    text-transform: uppercase;
    letter-spacing: 1px; }
  header.demo-banner .heading p {
    font-size: 30px;
    color: #b1b1b3;
    margin-bottom: 50px; }
  header.demo-banner .heading a {
    border: 2px solid #ebebec;
    padding: 10px 30px;
    text-transform: uppercase;
    background-color: transparent;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 16px;
    color: #ebebec;
    font-weight: 500;
    position: relative;
    line-height: 100%;
    letter-spacing: 1px;
    overflow: hidden; }
    header.demo-banner .heading a:hover, header.demo-banner .heading a:focus {
      color: #000;
      text-decoration: none; }
      header.demo-banner .heading a:hover:after, header.demo-banner .heading a:focus:after {
        opacity: 1;
        left: 0;
        width: 100%; }
    header.demo-banner .heading a:after {
      position: absolute;
      content: "";
      width: 30%;
      height: 100%;
      top: 0;
      left: 35%;
      background-color: #ebebec;
      opacity: 0;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      z-index: -1; }

.demos {
  margin-bottom: 50px; }
  .demos .demo-link {
    display: block;
    position: relative;
    margin-bottom: 50px; }
    .demos .demo-link:hover {
      text-decoration: none; }
  .demos h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 700; }
  .demos figure img {
    border: 1px solid #999;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease; }
  .demos figure:hover img {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
  .demos h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #999;
    letter-spacing: .5px;
    text-transform: uppercase; }
  .demos .demo-link:hover h4 {
    color: #ebebec; }

#modal-img {
  text-align: center !important;
} 
